<!--
스프링 부트 3.1 이상 버전에서는 `dataSourceConnectionPool()` 실행 시 간략한 로그만 보여줌
기본적으로 `INFO`레벨로 빠르게 설정되어 있음
원하는 로그 레벨로 수정하면 됨
-->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>

            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>

        </encoder>

    </appender>

    <root level="INFO">

        <appender-ref ref="STDOUT" />

    </root>

</configuration>